.container-fluid {
    padding:  0 8%
}

.navbar {
    height: 4vw;
    z-index: 100;
}

.navbar-brand {
    /* font-family: 'Cardo', serif; */
    font-family: 'Inter', sans-serif;
}

.active {
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
    /* text-decoration: underline; */
}

.active-dark {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
    /* text-decoration: underline; */
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transform-origin: left;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.link:hover::after {
    animation: expand-shrink 0.6s ease-in-out;
}

.link-dark {
    color: #fff !important;
    position: relative;
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.link-dark::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0;
    background: #fff;
    transform-origin: left;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.link-dark:hover::after {
    animation: expand-shrink 0.6s ease-in-out;
}

@keyframes expand-shrink {
    0% {
        width: 0;
        transform: scaleX(0);
    }
    50% {
        width: 100%;
        transform: scaleX(0.5);
    }
    100% {
        width: 100%;
        transform: scaleX(0);
        transform-origin: right;
    }
}

.dark-header {
    background-color: #000;
}

.navbar-transparent {
    background-color: transparent !important;
}