.experience-container {
  max-width: 100%;
}

.experience-column {
  padding: 10px;
}

.skills-column {
  position: fixed;
}

.skill-col {
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  height: calc(100vh - 220px);
}

a {
  text-decoration: none;
  color: #14a2c5;
  font-weight: 500;
}

.experience-card {
  color: #e6e6e6;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 0; /* No border radius initially */
  box-shadow: none; /* No shadow initially */
  transition: background-color 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease, border-radius 0.5s ease;
}

.experience-card:hover {
  background-color: #2a2e35;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02); /* Slightly enlarge the card */
  border-top: 1px solid rgb(121, 121, 121);
}

.experience-card:not(:hover) {
  transform: scale(1); /* Reset transform to default */
  border-radius: 0; /* Reset border radius */
  box-shadow: none; /* Remove shadow */
}

.date {
  font-size: 0.9em;
  color: #a3a3a3;
  margin: 5px 0;
}

.title {
  font-size: 1.3em;
  color: rgb(255, 86, 86);
  margin: 5px 0;
}

.company {
  color: #e6e6e6;
}

.description {
  font-size: 1em;
  margin: 10px 0;
  line-height: 1.5;
  color: #dcdcdc;
}

.tech-stack {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.tech-tag {
  background-color: #3a3f47;
  color: rgb(255, 86, 86);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.85em;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
  .skills-column {
    position: relative;
  }
}
