<div 
    [ngClass]="{'content': loadedTab === 'projects'}" 
>
    <div
        *ngIf="loadedTab === 'projects'"
        class="background-overlay"
        [ngStyle]="{ 'background-image': loadedTab === 'projects' ? 'url(' + currentProject.imagePath + ')' : '' }"
    ></div>
    <app-header 
        [ngClass]="{'navbar-transparent': loadedTab === 'projects'}" 
        (tabSelected)="onNavigate($event)"
    ></app-header>
    <!-- <router-outlet></router-outlet> -->

    <div class="item" *ngIf="loadedTab === 'projects'">
        <div>
            <p class="title" [@fadeAnimation]="currentProject.name">{{ currentProject.name }}</p>
            <p>{{ currentProject.description }}</p>
        </div>
    </div>

    <div class="body-con">
        <app-about *ngIf="loadedTab === 'about'"></app-about>
        <app-skills *ngIf="loadedTab === 'skills'"></app-skills>
        <app-projects *ngIf="loadedTab === 'projects'"></app-projects>
        <app-pages *ngIf="loadedTab === 'pages'"></app-pages>
        <app-timeline *ngIf="loadedTab === 'experience'"></app-timeline>
    </div>
    <a *ngIf="loadedTab === 'projects'" [href]="currentProject.projectLink" target="_blank" class="stretched-link"></a>
</div>