<div [ngClass]="{'content': loadedTab === 'projects'}" [ngStyle]="{ 'background-image': loadedTab === 'projects' ? 'url(' + currentProject.imagePath + ')' : '' }">
    <app-header [ngClass]="{'navbar-transparent': loadedTab === 'projects'}" (tabSelected)="onNavigate($event)"></app-header>

    <div class="item" *ngIf="loadedTab === 'projects'">
        <div>
            <p class="title" [@fadeAnimation]="currentProject.name">{{ currentProject.name }}</p>
            <p>{{ currentProject.description }}</p>
        </div>
    </div>

    <div class="body-con">
        <app-home *ngIf="loadedTab === 'home'"></app-home>
        <app-skills *ngIf="loadedTab === 'skills'"></app-skills>
        <app-projects *ngIf="loadedTab === 'projects'"></app-projects>
        <app-pages *ngIf="loadedTab === 'pages'"></app-pages>
        <app-timeline *ngIf="loadedTab === 'experience'"></app-timeline>
    </div>
    <!-- <app-footer *ngIf="loadedTab !== 'projects'"></app-footer> -->
    <a *ngIf="loadedTab === 'projects'" [href]="currentProject.projectLink" target="_blank" class="stretched-link"></a>
</div>