<!-- <div class="col">
    <div class="card">
        <img [src]="project.imagePath" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{ project.name }} </h5>
            <p class="card-text"> {{ project.description }} </p>
        </div>
        <a [href]="project.projectLink" target="_blank" class="stretched-link"></a>
    </div>
</div> -->
<!-- <div class="container-fluid" [style.background-image]="'url('+project.imagePath+')'">
    
</div> -->

<!-- <div class="item">
    <div>
        <p class="title" [@fadeAnimation] *ngIf="currentProject">{{ currentProject.name }}</p>
        <p>{{ currentProject.description }}</p>
    </div>
</div> -->