/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #000;
	font-family: 'Poppins', sans-serif;
}

.cursor {
	position: fixed;
	width: 45%;
	height: 90%;
	border-radius: 50%;
	background-color: rgb(212, 212, 212);
	mix-blend-mode: difference;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: width 0.3s, height 0.3s, background-color 0.3s;
	/* animation: glow 1s infinite alternate; */
    opacity: 0.1;
    background: radial-gradient(circle at center, rgb(255, 235, 235) 0, rgb(126, 126, 126), rgb(19, 19, 19) 50%);
	z-index: 100;
}
@keyframes glow {
	0% {
		box-shadow: 0 0 10px 5px rgba(191, 239, 255, 0.5);
	}
	100% {
		box-shadow: 0 0 20px 10px rgba(212, 244, 255, 0.9);
	}
}
