.carousel-control-next {
  top: 85%;
  right: 85%;
  width: 5%;
  height: 5%;
}

.carousel-control-prev {
  top: 85%;
  left: 5%;
  width: 5%;
  height: 5%;
}

.carousel-indicators {
  /* display: flex; */
  flex-flow: column nowrap;
  top: 40%;
  left: 90%;
  width: 5%;
  height: 15%;
  margin: 0;
  align-items: center;
  z-index: 1;
}

/* .carousel-indicators > button {
  max-width: 30px;
  min-height: 3px;
} */